.carousel-home {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.carousel-item img {
    width: 200px;
    height: auto;
}
section {
    text-align: center;
}

h1 {
    background: -webkit-linear-gradient(#abaaaa, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    padding: 10px;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.238));
}


.nav-logo {
    width: 300px;
    height: auto
}

.nav-item h4 {
    background: -webkit-linear-gradient(#eee, #eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

.nav-item h4:hover {
    background-color: #846969;
    padding: 4px;
    border-radius: 5px;
}

.navbar-toggler {
    background-color: #846969;
}

.appt-btn {
    margin: auto;
    width: 50%;
    padding: 15px;
}

.appt-btn button{
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 10px;
    background-color: #846969;
    border: #846969;
}

.appt-btn a {
    text-decoration: none;
}

.appt-btn button:hover {
    background-color: #5d5b5b ;
    color: black;
}

.card-btn {
    background-color: #838181;
}

.card-btn:hover {
    background-color: #5d5b5b;
}


body {
    /* background-color: black; */
    background-image: url("src/marble.jpeg");
}
/* Services styles */
.accordion-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.accordion-body h1 {
    background: -webkit-linear-gradient(#ca9f00,#ca9f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
}

.services {
    max-width: 800px;
    margin: 20px auto;
}

.service {
    background-image: url('src/marble.jpeg');
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service h2 {
    color: #333;
    margin-bottom: 10px;
}

.service-name {
    font-weight: bold;
    margin: 0;
}

.service-price {
    margin: 5px 0;
}

.service-description {
    color: #666;
    border-radius: 50px;
}

.service-img-left {
    margin-right: 5%;
    border-radius: 5px;
}

.service-img-right {
    margin-left: 5%;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 991.98px) { 
    .service-img-left {
        visibility: hidden;
    }

    .service-img-right{
        visibility: hidden;
    }
 }
@media only screen and (max-width: 600px) {
    .nav-logo {
        width: 160px;
        height: auto;
    }
}

/* Contact section styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }

  .contact-info,
  .contact-form {
    width: 45%;
    margin-bottom: 20px;
  }

  .map-container {
    height: 300px;
    width: 100%;
  }

  form {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 768px) {
    .contact-info,
    .contact-form {
      width: 100%;
    }

    .carousel-home {
        width: 90%
    }

  }

/* Home Card */
.home-boxes {
    margin-top: 5%;
    margin-bottom: 5%;
}
.home-card {
    margin-top: 20px;
    border: #ca9f00;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5%;
    height: 250px;
}

.home-card img{
    width: 25%;
    height: auto;
}

#experience {
    position: 0;
    width: 100%;
}


.menu-preview-item {
    margin-top: 10%;
}
/* Gallery */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }

    .home-card{
        height: auto;
        width: 100%;
    }
  }

  /* Fonts */
  .playball {
    font-family: "Playball", cursive;
    font-weight: 400;
    font-style: normal;
  }

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
    
.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
    
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
    
.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
    
.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}
    
.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}
    
.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}
    
.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
    
.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}
      
  
  /* Footer */
  footer {
    background-image: linear-gradient(#87858500, #846969);
    padding: 10px;
    text-align: center;
    align-items: center;
  }

  .footer-content {
    display: block;
  }

    .footer-content h2 {
        background: -webkit-linear-gradient(white, white);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .footer-row img {
        width: 35px; /* Adjust the width and height as needed */
        height: 35px;
        margin-right: 15px; /* Adjust spacing */
    }

    .footer-content hr {
        width: 60%;
    }
    .footer-row {
        display: flex;  
        text-align: start;
        margin: auto;
        width: 15%;
        margin-bottom: 2%;
    }

    .footer-row p {
        margin-left: 5px;
    }

  
  .footer-content p{
    font-size: small;
    color: black;
  }

  @media (max-width: 992px) {
    .appt-btn {
        width: 100%;
        margin-top:4%;
    }

    .appt-btn button {
        width: 80%;
    }

    .footer-row {
        width: 55%
    }
  }
