.carousel-home {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item img {
    width: 200px;
    height: auto;
}
section {
    text-align: center;
}

h1 {
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav {
    padding: 10px;
    background-image: linear-gradient(black, black);
}


.nav-logo {
    width: 300px;
    height: auto
}

.nav-item h4 {
    background: -webkit-linear-gradient(#eee, #ca9f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-item h4:hover {
    background-color: #846969;
    padding: 4px;
    border-radius: 5px;
}

.temp {
    background-color: #846969;
}

.appt-btn {
    margin: auto;
    width: 50%;
    padding: 15px;
}

.appt-btn button{
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-bottom: 10px;
}

body {
    /* background-color: black; */
}
/* Services styles */
.accordion-container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}

.services {
    max-width: 800px;
    margin: 20px auto;
}

.service {
    background-image: url('src/marble.jpeg');
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.service h2 {
    color: #333;
    margin-bottom: 10px;
}

.service-name {
    font-weight: bold;
    margin: 0;
}

.service-price {
    margin: 5px 0;
}

.service-description {
    color: #666;
    border-radius: 50px;
}

.service-img-left {
    margin-right: 5%;
    border-radius: 5px;
}

.service-img-right {
    margin-left: 5%;
}

.box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

@media (max-width: 991.98px) { 
    .service-img-left {
        visibility: hidden;
    }

    .service-img-right{
        visibility: hidden;
    }
 }
@media only screen and (max-width: 600px) {
    .nav-logo {
        width: 160px;
        height: auto;
    }
}

/* Contact section styles */
.contact {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
}

.contact-info {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.contact-form {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

/* Map styles */
.map {
    margin-bottom: 20px;
}

/* Address, Phone, and Social Media styles */
.address,
.phone,
.social-media {
    margin-bottom: 20px;
}

/* Social Media Links styles */
.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media ul li {
    margin-bottom: 5px;
}

.social-media ul li a {
    text-decoration: none;
    color: #333;
}

.social-media ul li a:hover {
    text-decoration: underline;
}

/* Contact Form styles */
.contact-form h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.gc-image {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    margin-top: 20px;
}

.img-2 {
    width: 75%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}

/* Home Card */
.home-boxes {
    margin-top: 5%;
    margin-bottom: 5%;
}
.home-card {
    margin-top: 20px;
    border: #ca9f00;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding: 5%;
    height: 250px;
}

.home-card img{
    width: 25%;
    height: auto;
}

#experience {
    position: 0;
    width: 100%;
}


.menu-preview-item {
    margin-top: 10%;
}
/* Gallery */
.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .gallery-column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .gallery-column {
      flex: 100%;
      max-width: 100%;
    }

    .home-card{
        height: auto;
        width: 100%;
    }
  }

  /* Footer */
  footer {
    background-image: linear-gradient(black, black);
    padding: 10px;
    text-align: center;
}

.footer-subcontent-2{
    width:70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 2px solid rgb(255, 0, 187); */
    color: white;
  }
  
  .footer-content h2{
    color: #f5af01;
    font-size: large;
  }
  
  .footer-content p{
    font-size: small;
    color: white;
  }
  
  .footer-subcontent{
    color: white;
  }

  @media (max-width: 992px) {
    .appt-btn {
        width: 100%;
        margin-top:4%;
    }

    .appt-btn button {
        width: 80%;
    }
  }
